    {% include 'header.html' %}
    <title>Login</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-center "style="min-height: 100vh;">
          <div class="col-12 col-md-8" grid>
            <div class="img-holder ">
                <div class="bg ">
                    <img src="../static/img/4139630.jpg" class="mx-auto d-block" alt="">
                </div>
            </div>
          </div>
          <div class="form-holder mx-auto d-block col-8 col-md-4">
            <form>
                <h3 style="font-weight: 900; font-family: inherit;"><span style="color: rgb(0, 168, 0);">STY</span>CEPU</h3>
                <p>Laporkan Tindakan Tidak Menggunakan Helm</p>
                <div class="form-group">
                  <!-- <label for="validationDefault01"></label> -->
                  <input type="text" class="form-control" id="validationDefault01" style="border-width: 0px;" placeholder="Username" required>
                </div>
                <div class="form-group">
                  <!-- <label for="exampleInputPassword1">Password</label> -->
                  <input type="password" class="form-control" id="exampleInputPassword1 validationDefault01" placeholder="Password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Ingat Saya</label>
                </div>
                <button type="submit" class="btn btn-primary"><a href="#" role="presentation"></a>Login</button>
                <a href="showSignup" role="presentation" class="btn btn-secondary" target="_Blank">SignUp</a>
              </form>
          </div>
        </div>
    </div>
</body>
<!-- {% include 'footer.html' %} -->
</html>